# Anchor build artifacts
target/
**/target/

# Solana program binaries
*.so

# Local deployment / dump artifacts
deployed.so
chain.so
current_chain.so
recovered-buffer.json

# Node
node_modules/

# Keys & Secrets
*.json
*.key
*.pem

# Env files
.env
.env.*

# macOS
.DS_Store

# Logs
*.log

# Test validator
test-ledger/

# Archive files
*.tar
*.tar.gz
*.tar.bz2

solana-release/
solana.tar.bz2